@media screen and (min-width:1050px){
    .screen{
        display: flex;
        flex-direction: column;
        height: 95vh;
        justify-content: space-between;
    }
    .board, #count{
        border: solid #4a46d6 6px;
        background-color: white;
    }
    #count {
        padding: 20px;
        position: absolute;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .board{
        margin: auto;
        display: flex;
        justify-content: space-around;
        width: 758px
    }
    .pc{
        height: 250px;
        transform: rotate(180deg);
    }
    #middle{
        height: 50px;
    }
    #result{
        margin: auto;
    }
    .player{
        height: 250px;
    }
    #Rock, #Scisors, #Paper{
        background: transparent;
        border: none;
        width: 100%;
    }
}
@media all and (max-width:1050px){
    
    *{
        font-size: 15px;
    }
    .screen{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 95vh;
    }
    .board, #count{
        border: solid #4a46d6 4px;
        background-color: white;
        width: 75vw;
    }
    #count {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
    }
    .board{
        display: flex;
        justify-content: space-around;
        width: 75vw;
    }
    .pc{
        height: 23vw;
        transform: rotate(180deg);
    }
    #middle{
        height: 50px;
    }
    #result{
        margin: auto;
    }
    .player{
        height: 23vw;
    }
    #Rock, #Scisors, #Paper{
        background: transparent;
        border: none;
        width: 100%;
    }
}

body{
    background-image: linear-gradient(to right, #6feafd, #e965d5);
}

#reset{
    border: #6feafd;
}

